<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h1>Face Detection</h1>

    <div>
        <video id="webcam", width="640", height="480", style="display: none;"></video>
    </div>
    <div>
        <img id="processed_img", width="640", height="480", style="display: flexbox;">
    </div>
    <script>

        var socket = io.connect(window.location.protocol + "//" + (window.location.hostname === "localhost" ? "localhost" : "face-detection-app-ramwrites.onrender.com") + (location.port ? ":" + location.port : ""));
        socket.on("connect", function () {
        console.log("Connected...!", socket.connected);
        });

        navigator.mediaDevices.getUserMedia({video: true})
        .then(stream => {
            let video = document.getElementById('webcam');
            video.srcObject = stream;
            video.play();

            setInterval(() => sendframe(video), 100);
        })
        .catch(error => console.error("Error accessing webcam:", error));

        function sendframe(video) {
            let canvas = document.createElement('canvas');
            canvas.width = video.width;
            canvas.height = video.height;
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(blob => {
                socket.emit('image',blob);
            }, 'image/jpeg', 0.7)
        }

        socket.on('response', function(data) {
            const blob = new Blob([data], { type: 'image/jpeg' });
            const imageUrl = URL.createObjectURL(blob);
            document.getElementById('processed_img').src = imageUrl;
        })

    </script>
</body>
</html>
